.footer {
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px auto;
    line-height: 2;
    box-shadow: 2px 2px 8px #ccc;
    max-width: 1000px;
}

.footer__button {
    padding: 10px;
    margin: 20px;
}